* {
    box-sizing: border-box;
    text-align: center;
    
}

body{
    background: linear-gradient(to right, #000428, #004e92);
    
    background-repeat: no-repeat;
    background-size: cover;
   
}

h2{
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    letter-spacing: .15em;
    text-shadow: 0 0 .5em white;
    margin-top: .25em;
}

/* navigation section*/
nav{
    display: flex;
    height: 20em;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    margin-bottom: 2.5em;
}

h1{
    font-size: 2.5em;
    margin-top: -.25em;
    font-family: 'Pacifico', cursive;
    letter-spacing: .25em;
    text-shadow: 0 0 .5em white;
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin-bottom: -1em;
    margin-top: -1em;
    border-radius: .75em;
    height: 2.5em;
}

#nav-links li {
    list-style: none;
    margin-top: .25em;
    font-size: 1.5em;
    margin-bottom: .5em;
    color: white;
    font-family: 'Share Tech', sans-serif;
}

#nav-links a:visited{
    color: white;
}

#nav-links a{
    text-decoration: none;
}

.logo img{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 1em .25em white;
}

/*Content area*/
#content-section{
    background: linear-gradient(to left, #43cea2, #185a9d);
    margin-top: -1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 28em;
    max-height: 100%;
    min-width: 20em;
    max-width: 60em;
    margin: auto;
    flex-wrap: wrap;
    border-radius: 1em;
    flex-shrink: 1;
    box-shadow: 0 0 1em .25em white;
}

p{
    font-size: 1.5em;
    margin-right: 2.5em;
    margin-left: 2.5em;
    font-family: 'Share Tech', sans-serif;
    text-shadow: 0 0 .5em white;
}
p a:visited{
    color: blue;
}
/*Portfolio section*/
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}
.portfolio img{
    width: 10em;
    height: 10em;
    margin-top: 1em;
}

.portfolio-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.portfolio a:visited{
    color: black;
}


.portfolio-item{
    box-shadow: 0 0 1em .25em white;
    width: 18em;
    height: 18em;
    flex-wrap: wrap;
    gap: 1em;
}

/*Contact section*/

#contact-options{
    display: flex;
    justify-content: space-around;
   
}

#contact-options img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
    box-shadow: 0 0 1em .25em white;
}

#contact-options li{
    list-style: none;
    font-size: 1.5em;
    margin-bottom: 2em;
    font-family: 'Share Tech', sans-serif;
}

/*Cellphone screens*/
@media screen and (max-width: 380px) {
    /*Nav bar*/
    #nav-links{
        justify-content: space-evenly;
        gap: .5em;
        
    }

    #nav-links li{
        font-size: 1em;
    }
    
    /*Contact section*/
    #contact-options{
        justify-content: space-around;
       
    }

    .portfolio-item{
        flex-direction: column;
        justify-content: center;
    }
    
    
}

/*Larger screens*/
@media screen and (min-width: 850px){
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo img{
        margin-bottom: 3em;
    }

    h1{
        font-size: 4em;
    }

    h2{
        font-size: 3em;
    }

    p{
        font-size: 2em;
    }

    #nav-links li{
        font-size: 1.5em;
    }

    .portfolio{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}