* {
    box-sizing: border-box;
    text-align: center;
    
}

body{
    background: linear-gradient(to right, #000428, #004e92);
    
    background-repeat: no-repeat;
    background-size: cover;
   
}

/* navigation section*/
nav{
    display: flex;
    height: 20em;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin-bottom: -2.5em;
    border-radius: .75em;
    height: 2.5em;
}

#nav-links li {
    list-style: none;
    margin-top: .25em;
    font-size: 1.5em;
    margin-bottom: .25em;
    color: white;
}

#nav-links a:visited{
    color: white;
}

#nav-links a{
    text-decoration: none;
}

.logo img{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    
}

/*Content area*/
#content-section{
    background: linear-gradient(to left, #43cea2, #185a9d);
    margin-top: -1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 28em;
    min-width: 24em;
    max-width: 60em;
    margin: auto;
    flex-wrap: wrap;
}

p{
    font-size: 1.5em;
    margin-right: 2.5em;
    margin-left: 2.5em;
    
}
p a:visited{
    color: blue;
}